.new-todo-container {
	display: flex;
	align-items: flex-end;
	gap: 0.5rem;
	width: 100%;
	margin: 0.2rem 0 0.2rem;
}

autosize-text-area {
	display: flex;
	width: 100%;
}

vscode-button {
	padding: 4px;
}

vscode-button::part(content) {
	font-size: var(--vscode-editor-font-size);
}
