# This file contains all the files/directories that should
# be ignored (i.e. not included) in the final packaged extension.

# Ignore extension configs
.vscode/**

# Ignore test files
.vscode-test/**
out/test/**

# Ignore source code
src/**

# Ignore all webview-ui files except the build directory
webview-ui/src/**
webview-ui/public/**
webview-ui/scripts/**
webview-ui/README.md
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/node_modules/**
webview-ui/.angular/**
webview-ui/.vscode/**
webview-ui/.editorconfig
webview-ui/karma.conf.js
webview-ui/tsconfig.app.json
webview-ui/tsconfig.spec.json
webview-ui/angular.json
webview-ui\generate-prism-imports.js

# Ignore Misc
.yarnrc
vsc-extension-quickstart.md
**/.gitignore
**/tsconfig.json
**/vite.config.ts
**/.eslintrc.json
**/*.map
**/*.ts
assets/hi-res/**
docs/**
.vscode-test.mjs
.history/**
GEMINI.md

# Ignore prettier config files
.prettierignore
.prettierrc

