/* Variables */
body.light {
	--note-accent-color: hsl(50, 56%, 85%);
	--note-background-color: hsl(50, 56%, 85%);
}
body.dark {
	--note-accent-color: hsl(48, 83%, 50%);
	--note-background-color: var(--vscode-menu-background);
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0 10px;
}

main {
	max-width: 130ch;
	margin: 0 auto;
}

main.wide-view-animation {
	transition: max-width 0.3s ease-in-out;
}

main.wide-view {
	max-width: 100%;
}

/* Markdown -> */

markdown > h1,
markdown > h2,
markdown > h3,
markdown > h4,
markdown > h5,
markdown > h6,
markdown > p {
	margin: 0.5em 0;
}

markdown {
	max-width: 100%;
	padding: 3.75px 0;
}

markdown > *:first-child {
	margin-top: 0;
}

markdown > *:only-child {
	margin-bottom: 0;
}

markdown pre {
	padding: 1em 67px 1em 1em !important;
	margin: 2px 0 !important;
	&.line-numbers {
		padding-left: 3em !important;
	}
}

/* Overrides for Angular Material theme -> */

/* Menu */
.mat-mdc-menu-panel {
	--mat-menu-container-color: var(--vscode-menu-background);
	--mat-menu-container-shape: 5px;
	outline: solid 1px var(--vscode-menu-border) !important;
}

.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
	--mat-menu-item-label-text-font: var(--font-family);
	--mat-menu-item-label-text-size: var(--vscode-font-size);
	--mat-menu-item-label-text-tracking: "normal";
	--mat-menu-item-hover-state-layer-color: var(--list-active-selection-background);
	--mat-menu-item-label-text-color: var(--vscode-menu-foreground);
}
.mat-mdc-menu-content {
	padding: 5px !important;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	min-width: 10rem;
}
.mat-mdc-menu-item {
	border-radius: 4px;
	min-height: 30px !important;
	text-align: start !important;
	--mat-menu-item-hover-state-layer-color: var(--button-primary-hover-background);

	&:hover {
		--mat-menu-item-hover-state-layer-color: var(--vscode-menu-selectionBackground);
		--mat-menu-item-label-text-color: var(--vscode-menu-selectionForeground);
	}
}

.mat-divider {
	--mat-menu-divider-color: var(--vscode-menu-border);
}

/* Drag and drop -> */

/* Item being dragged */
.cdk-drag.cdk-drag-preview {
	background-color: var(--vscode-menu-background);
	max-height: 10vh;
	overflow: hidden;
	opacity: 0.8;
	position: relative;
}
/* Gradient overlay for items overflowing */
.cdk-drag.cdk-drag-preview::after {
	content: "";
	position: absolute;
	top: 7vh;
	left: 0;
	right: 0;
	height: 3vh;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--vscode-menu-background) 100%);
	pointer-events: none;
}

.cdk-drop-list:not(.cdk-drop-list-dragging) {
	todo-item:hover {
		background-color: var(--vscode-menu-background);
		& .icon-button-container {
			opacity: 1;
		}
	}
}

new-todo autosize-text-area textarea {
	max-height: 80vh;
}

fieldset {
	display: flex;
	flex-direction: column;
	gap: 5px;
	border-radius: 0;
	margin: 0;
	padding: 0;
	border: 0;
	border-top: 1px solid var(--vscode-menu-border);
	border-radius: 0;

	legend {
		color: var(--vscode-list-deemphasizedForeground);
		text-align: center;
		margin: 0.3rem 0;
		padding: 0 5px;
	}
}

button.danger {
	&:hover {
		background: hsl(0, 49%, 47%) !important;
		app-icon svg path {
			fill: var(--vscode-menu-selectionForeground);
		}
	}
}

vscode-button[appearance="icon"] {
	display: flex;
	& > * {
		display: flex;
	}
}

app-icon {
	display: inline-flex;
	align-items: center;
}

span.icon-container {
	display: flex;
	gap: 0.25em;
}

div.menu-check {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 500px) {
	main {
		height: 100%;
		min-height: 100%;
	}

	vscode-panels::part(tablist) {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 4px;
		align-items: start;
	}

	vscode-panel-tab {
		width: 100%;
		justify-content: start;
		padding: calc(var(--design-unit) * 1px);
	}

	vscode-panel-tab:hover {
		background: var(--button-icon-hover-background);
	}
}
