/* Variables */
body.light {
	--note-accent-color: hsl(50, 56%, 85%);
	--note-background-color: hsl(50, 56%, 85%);
}
body.dark {
	--note-accent-color: hsl(48, 83%, 50%);
	--note-background-color: var(--vscode-menu-background);
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0 10px;
}

main {
	max-width: 130ch;
	margin: 0 auto;
}

/* Markdown -> */

markdown > h1,
markdown > h2,
markdown > h3,
markdown > h4,
markdown > h5,
markdown > h6,
markdown > p {
	margin: 0.5em 0;
}

markdown {
	max-width: 100%;
	padding: 3.75px 0;
}

markdown > *:first-child {
	margin-top: 0;
}

markdown > *:only-child {
	margin-bottom: 0;
}

markdown pre {
	padding: 1em 67px 1em 1em !important;
	margin: 2px 0 !important;
	&.line-numbers {
		padding-left: 3em !important;
	}
}

/* Overrides for Angular Material theme -> */

/* Menu */
.mat-mdc-menu-panel {
	--mat-menu-container-color: var(--vscode-menu-background);
	--mat-menu-container-shape: 5px;
	outline: solid 1px var(--vscode-menu-border) !important;
}

.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
	--mat-menu-item-label-text-font: var(--font-family);
	--mat-menu-item-label-text-size: var(--vscode-font-size);
	--mat-menu-item-label-text-tracking: "normal";
	--mat-menu-item-hover-state-layer-color: var(--list-active-selection-background);
	--mat-menu-item-label-text-color: var(--vscode-menu-foreground);
}
.mat-mdc-menu-content {
	padding: 5px !important;
}
.mat-mdc-menu-item {
	border-radius: 4px;
	min-height: 30px !important;
	text-align: center !important;
	--mat-menu-item-hover-state-layer-color: var(--button-primary-hover-background);

	&.selected {
		background-color: var(--vscode-menu-selectionBackground);
		color: var(--vscode-menu-selectionForeground);
	}
}

/* Drag and drop -> */

/* Item being dragged */
.cdk-drag.cdk-drag-preview {
	background-color: var(--vscode-menu-background);
	max-height: 10vh;
	overflow: hidden;
	opacity: 0.8;
	position: relative;

	& .todo-container .icon-button-container.drag-handle-container {
		opacity: 1;
	}
}
/* Gradient overlay for items overflowing */
.cdk-drag.cdk-drag-preview::after {
	content: "";
	position: absolute;
	top: 7vh;
	left: 0;
	right: 0;
	height: 3vh;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--vscode-menu-background) 100%);
	pointer-events: none;
}

.cdk-drop-list:not(.cdk-drop-list-dragging) {
	todo-item:hover {
		background-color: var(--vscode-menu-background);
		& .icon-button-container {
			opacity: 1;
		}
	}
}

new-todo autosize-text-area textarea {
	max-height: 80vh;
}

fieldset {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px;
	margin: 0 0 5px 0;
	border: 1px solid var(--vscode-menu-border);
	border-radius: var(--mat-menu-container-shape);

	legend {
		color: var(--vscode-list-deemphasizedForeground);
	}
}

.danger {
	background: hsl(0, 49%, 37%) !important;
	&:hover {
		background: hsl(0, 49%, 47%) !important;
	}
}

vscode-button[appearance="icon"] {
	display: flex;
	& > * {
		display: flex;
	}
}
