* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

main {
	max-width: 110ch;
	margin: 0 auto;
}

/* Markdown -> */

markdown > h1,
markdown > h2,
markdown > h3,
markdown > h4,
markdown > h5,
markdown > h6,
markdown > p {
	margin: 0.5em 0;
}

markdown {
	max-width: 100%;
	padding: 3.75px 0;
}

markdown > *:first-child {
	margin-top: 0;
}

markdown > *:only-child {
	margin-bottom: 0;
}

/* Overrides for Angular Material theme -> */

/* Menu */
.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
	--mat-menu-item-label-text-font: var(--font-family);
	--mat-menu-item-label-text-size: var(--vscode-editor-font-size);
	--mat-menu-item-label-text-tracking: "normal";
	--mat-menu-item-hover-state-layer-color: var(--list-active-selection-background);
}
.mat-mdc-menu-content {
	background-color: var(--vscode-notifications-background);
	border-radius: 4px;
	padding: 5px !important;
}
.mat-mdc-menu-item {
	border-radius: 4px;
}

/* Drag and drop -> */

/* Item being dragged */
.cdk-drag.cdk-drag-preview {
	background-color: var(--vscode-menu-background);
	max-height: 10vh;
	overflow: hidden;
	opacity: 0.8;
	position: relative;

	& .todo-container .icon-button-container.drag-handle-container {
		opacity: 1;
	}
}
/* Gradient overlay for items overflowing */
.cdk-drag.cdk-drag-preview::after {
	content: "";
	position: absolute;
	top: 7vh;
	left: 0;
	right: 0;
	height: 3vh;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--vscode-menu-background) 100%);
	pointer-events: none;
}

.cdk-drop-list:not(.cdk-drop-list-dragging) {
	todo-item:hover {
		background-color: var(--vscode-menu-background);
		& .icon-button-container {
			opacity: 1;
		}
	}
}

/* VS Code textarea */
new-todo vscode-text-area::part(control) {
	max-height: 80vh;
}
