.header-container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
	width: 100%;
	padding: 5.5px 0;
}
.menu-open {
	background-color: var(--vscode-menu-background);
}

@media (max-width: 650px) {
	.header-container {
		position: relative;
		padding: 0;
	}
}

/* Spinning animation for sync button */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.spinning {
	animation: spin 1s linear infinite;
}
