main {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 0.5rem;
}

vscode-panels,
todo-list {
	width: 100%;
	height: 100%;
}

vscode-panel-tab[aria-selected="true"] {
	color: var(--vscode-settings-headerForeground);
}

vscode-panel-view {
	border-top: 2px solid var(--vscode-settings-headerBorder);
	transform: translateY(-2px);
}

vscode-panels::part(activeIndicator) {
	z-index: 1;
	height: 2px;
	width: 130%;
}

new-todo {
	display: flex;
	width: 100%;
}
