main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
	font-size: var(--vscode-editor-font-size);
}

vscode-panels,
todo-list {
	width: 100%;
	height: 100%;
}
vscode-panel-tab[aria-selected="true"] {
	color: var(--vscode-settings-headerForeground);
}

vscode-panel-view {
	border-top: 1px solid var(--vscode-settings-headerBorder);
}

new-todo {
	display: flex;
	width: 100%;
}
