<main>
	<vscode-panels activeid="tab-2">
		<vscode-panel-tab (click)="selectTab(TodoScope.user)" id="tab-1">
			User
			<vscode-badge [ngStyle]="{ opacity: todoCount.user ? 1 : 0 }">{{ todoCount.user }}</vscode-badge>
		</vscode-panel-tab>
		<vscode-panel-tab (click)="selectTab(TodoScope.workspace)" id="tab-2">
			Workspace
			<vscode-badge [ngStyle]="{ opacity: todoCount.workspace ? 1 : 0 }">{{
				todoCount.workspace
			}}</vscode-badge>
		</vscode-panel-tab>
		<vscode-panel-tab (click)="selectTab(TodoScope.currentFile)" id="tab-3">
			{{ currentFilePath | async | fileName }}
			<vscode-badge [ngStyle]="{ opacity: todoCount.currentFile ? 1 : 0 }">{{
				todoCount.currentFile
			}}</vscode-badge>
		</vscode-panel-tab>

		<vscode-panel-view id="view-1">
			<todo-list [scope]="TodoScope.user" *ngIf="scope === TodoScope.user"></todo-list>
		</vscode-panel-view>
		<vscode-panel-view id="view-2">
			<todo-list [scope]="TodoScope.workspace" *ngIf="scope === TodoScope.workspace"></todo-list>
		</vscode-panel-view>
		<vscode-panel-view id="view-3">
			<todo-list [scope]="TodoScope.currentFile" *ngIf="scope === TodoScope.currentFile"></todo-list>
		</vscode-panel-view>
	</vscode-panels>

	<vscode-divider role="separator"></vscode-divider>

	<new-todo [scope]="scope"></new-todo>
</main>
