<main
	[ngClass]="{
		'wide-view': enableWideView | async,
		'wide-view-animation': enableWideViewAnimation | async,
	}"
  >
  <app-header [currentScope]="scope"></app-header>
  <vscode-panels activeid="tab-2">
    <vscode-panel-tab (click)="selectTab(TodoScope.user)" id="tab-1" [title]="'Global User Data'">
      User
      <vscode-badge [ngStyle]="{ opacity: todoCount.user ? 1 : 0 }">{{ todoCount.user }}</vscode-badge>
    </vscode-panel-tab>
    <vscode-panel-tab (click)="selectTab(TodoScope.workspace)" id="tab-2" [title]="'Workspace Data'">
      Workspace
      <vscode-badge [ngStyle]="{ opacity: todoCount.workspace ? 1 : 0 }">{{
        todoCount.workspace
      }}</vscode-badge>
    </vscode-panel-tab>
    <vscode-panel-tab
      (click)="selectTab(TodoScope.currentFile)"
      id="tab-3"
			[title]="
				'File-Specific Data, accessible within this workspace\n' +
				((currentFilePath | async) || 'No File Selected')
			"
      >
      File - {{ (currentFilePath | async | fileName) || "No File Selected" }}
      <vscode-badge [ngStyle]="{ opacity: todoCount.currentFile ? 1 : 0 }">{{
        todoCount.currentFile
      }}</vscode-badge>
      <vscode-button
        appearance="icon"
        [class.active]="isPinned"
        class="button-pin"
        (click)="pinFile($event)"
        [disabled]="!(currentFilePath | async)"
        [aria-label]="isPinned ? 'Unpin file' : 'Pin file'"
        [title]="isPinned ? 'Unpin file' : 'Pin file'"
        >
        <span>
          <app-icon name="pin"></app-icon>
        </span>
      </vscode-button>
    </vscode-panel-tab>

    <vscode-panel-view id="view-1">
      @if (scope === TodoScope.user) {
        <todo-list [scope]="TodoScope.user"></todo-list>
      }
    </vscode-panel-view>
    <vscode-panel-view id="view-2">
      @if (scope === TodoScope.workspace) {
        <todo-list [scope]="TodoScope.workspace"></todo-list>
      }
    </vscode-panel-view>
    <vscode-panel-view id="view-3">
      <as-split
        class="split-view-container"
        direction="horizontal"
        unit="pixel"
        gutterSize="2"
        restrictMove="true"
        useTransition="true"
        #mySplit
        >
        <div
          *asSplitGutter="let isDragged = isDragged"
          class="custom-shade-gutter"
          [class.dragged]="isDragged"
          (dblclick)="onGutterDoubleClick($event)"
          >
          <div class="custom-shade-gutter-icon"></div>
        </div>
        <as-split-area
          [size]="fileListViewMinWidth"
          [minSize]="fileListViewMinWidth"
          [maxSize]="450"
          class="file-area"
          >
          <div class="toggle-file-list-container">
            <vscode-button
              appearance="icon"
              class="toggle-file-list"
              (click)="toggleFileList($event)"
              [aria-label]="(isFileListExpanded ? 'Collapse' : 'Expand') + ' file list'"
              [title]="(isFileListExpanded ? 'Collapse' : 'Expand') + ' file list'"
              >
              <span>
                @if (isFileListExpanded) {
                  <app-icon name="chevron-left"></app-icon>
                }
                @if (!isFileListExpanded) {
                  <app-icon name="chevron-right"></app-icon>
                }
              </span>
            </vscode-button>
          </div>
          @if (isFileListExpanded) {
            <file-list></file-list>
          }
        </as-split-area>
        <as-split-area [size]="'*'">
          @if (scope === TodoScope.currentFile) {
            <todo-list [scope]="TodoScope.currentFile"></todo-list>
          }
        </as-split-area>
      </as-split>
    </vscode-panel-view>
  </vscode-panels>

  <vscode-divider role="separator"></vscode-divider>

  <new-todo [scope]="scope" [currentFilePath]="(currentFilePath | async) || ''"></new-todo>
</main>
