main {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 0.25rem 0.125rem;
}

vscode-panels,
todo-list {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	flex-grow: 1;
}

vscode-panels::part(tabpanel) {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	border-top: 2px solid var(--vscode-settings-headerBorder);
	transform: translateY(-2px);
}

.button-pin {
	opacity: 0;
	margin-left: 0.5rem;

	&.active {
		opacity: 1;
	}
}

vscode-panel-tab:hover {
	.button-pin {
		opacity: 1;
	}
}

vscode-panel-tab[aria-selected="true"] {
	color: var(--vscode-settings-headerForeground);

	.button-pin svg path {
		fill: var(--vscode-settings-headerForeground);
	}
}

vscode-panel-view {
	overflow-y: hidden;
	padding: 0.5rem 0 0;
	flex-grow: 1;
}

vscode-panels::part(activeIndicator) {
	z-index: 1;
	height: 2px;
	width: calc(100% + 2rem);
}

new-todo {
	display: flex;
	width: 100%;
}

// #region angular-split
.custom-shade-gutter {
	width: 100%;
	height: 100%;
	background-color: var(--vscode-settings-headerBorder);
	position: relative;
}

.custom-shade-gutter-icon {
	height: 100%;
	width: 100%;
	background-color: var(--vscode-sash-hoverBorder);
	transition: opacity 0.15s 0s;
	opacity: 0;
	position: absolute;
	cursor: ew-resize;

	.dragged &,
	&:hover {
		opacity: 1;
		transition: opacity 0.3s 0.3s;
	}

	$shadeSize: 1.5px;

	.as-horizontal & {
		width: 1 + ($shadeSize * 2);
		left: -$shadeSize;
		right: $shadeSize;
	}
}

// #endregion
