.labels-container {
	display: flex;
	flex-direction: column;
	color: var(--vscode-descriptionForeground);
	line-height: 1.2;
}

.label {
	display: flex;
	align-items: baseline;
	gap: 4px;
}

.label-text {
	min-width: 70px;
	font-size: 0.8em;
}

.label-date {
	font-family: inherit;
	font-size: 0.8em;
	text-wrap: nowrap;
}
