<div
	class="todo-container"
	[ngClass]="{
		'dragging': dragging,
		'note': todo.isNote,
		'edit-mode': isEditable,
		'menu-open': isActionMenuOpen,
		'selected': selected,
	}"
	[attr.aria-selected]="selected ? 'true' : null"
>
	@if (!todo.isNote) {
		<div class="checkbox">
			@if (todo.collapsed) {
				<vscode-button
					appearance="icon"
					class="icon-button"
					(click)="expand($event)"
					aria-label="Expand item"
					title="Expand item"
				>
					<span><app-icon name="chevron-right"></app-icon></span>
				</vscode-button>
			}
			@if (!todo.collapsed) {
				<vscode-checkbox (click)="toggleCompleted()" [checked]="todo.completed"></vscode-checkbox>
			}
		</div>
	}
	<div class="content">
		@if (isEditable) {
			<autosize-text-area
				id="text-area-{{ todo.id }}"
				class="todo-text"
				[(value)]="todo.text"
				[autofocus]="true"
				(mousedown)="$event.stopPropagation()"
				(dragstart)="$event.preventDefault()"
			>
			</autosize-text-area>
		}
		@if (!isEditable && todo.collapsed) {
			<div class="todo-text collapsed" [attr.aria-expanded]="false">
				@if (todo.isNote) {
					<vscode-button
						appearance="icon"
						class="icon-button"
						(click)="expand($event)"
						aria-label="Expand item"
						title="Expand item"
					>
						<span><app-icon name="chevron-right"></app-icon></span>
					</vscode-button>
				}
				<span
					class="collapsed-text"
					[class.complete]="todo.completed && !todo.isNote"
					[ngStyle]="{ '-webkit-line-clamp': collapsedPreviewLines }"
				>{{ getPreviewText(todo.text) }}</span>
			</div>
		}
		<!-- prettier-ignore -->
		@if (!isEditable && !todo.collapsed && !todo.isMarkdown) {
      <div
        (click)="edit($event)"
        class="todo-text"
        [class.complete]="todo.completed && !todo.isNote"
      >{{ todo.text }}</div>
    }
		@if (!isEditable && !todo.collapsed && todo.isMarkdown) {
			<div class="markdown-container" (click)="edit($event)">
				<markdown
					clipboard
					class="todo-text"
					[lineNumbers]="enableLineNumbers"
					[class.complete]="todo.completed && !todo.isNote"
					[data]="todo.text"
					[mermaid]="enableMarkdownDiagrams"
					[katex]="enableMarkdownKatex"
				></markdown>
			</div>
		}
		@if (isEditable) {
			<div class="footer" (mousedown)="$event.stopPropagation()" (dragstart)="$event.preventDefault()">
				<div class="labels">
					<todo-label [todo]="todo"></todo-label>
				</div>
				<div class="buttons">
					<vscode-button (click)="saveEdit()" aria-label="Save"
						>Save</vscode-button
					>
					<vscode-button
						appearance="secondary"
						(click)="cancelEdit()"
						aria-label="Cancel"
						id="cancel-button"
						>Cancel</vscode-button
					>
				</div>
			</div>
		}
	</div>
	<div class="icon-button-container">
		<vscode-button
			appearance="icon"
			class="icon-button"
			[matMenuTriggerFor]="actionMenu"
			(menuOpened)="onActionMenuOpened()"
			(menuClosed)="onActionMenuClosed()"
			[ngClass]="{ 'menu-open': isActionMenuOpen }"
			aria-label="Open menu"
			title="Menu"
		>
			<span>
				<app-icon name="menu"></app-icon>
			</span>
		</vscode-button>

		<!-- Action menu -->
		<mat-menu #actionMenu="matMenu" yPosition="below" xPosition="before">
			<!-- Expand / Collapse -->
			@if (!todo.collapsed) {
				<button mat-menu-item (click)="collapse()" aria-label="Collapse item">
					<div class="menu-row">
						<span class="menu-left"><app-icon name="chevron-down"></app-icon></span>
						<span class="menu-label">Collapse</span>
						<span class="menu-right"></span>
					</div>
				</button>
			}
			@if (todo.collapsed) {
				<button mat-menu-item (click)="expand()" aria-label="Expand item">
					<div class="menu-row">
						<span class="menu-left"><app-icon name="chevron-right"></app-icon></span>
						<span class="menu-label">Expand</span>
						<span class="menu-right"></span>
					</div>
				</button>
			}
			<!-- Type section -->
			<fieldset>
				<legend>Type</legend>
				<button
					mat-menu-item
					(click)="setIsNote($event, true)"
					aria-label="Select Note"
					[attr.role]="'menuitemradio'"
					[attr.aria-checked]="todo.isNote"
				>
					<div class="menu-row">
						<span class="menu-left"></span>
						<span class="menu-label">Note</span>
						@if (todo.isNote) {
							<span class="menu-right"><app-icon name="check"></app-icon></span>
						} @else {
							<span class="menu-right"></span>
						}
					</div>
				</button>
				<button
					mat-menu-item
					(click)="setIsNote($event, false)"
					aria-label="Select Todo"
					[attr.role]="'menuitemradio'"
					[attr.aria-checked]="!todo.isNote"
				>
					<div class="menu-row">
						<span class="menu-left"></span>
						<span class="menu-label">Todo</span>
						@if (!todo.isNote) {
							<span class="menu-right"><app-icon name="check"></app-icon></span>
						} @else {
							<span class="menu-right"></span>
						}
					</div>
				</button>
			</fieldset>
			<!-- View as section -->
			<fieldset>
				<legend>View as</legend>
				<button
					mat-menu-item
					(click)="setIsMarkdown($event, false)"
					aria-label="View as text"
					[attr.role]="'menuitemradio'"
					[attr.aria-checked]="!todo.isMarkdown"
				>
					<div class="menu-row">
						<span class="menu-left"></span>
						<span class="menu-label">Text</span>
						@if (!todo.isMarkdown) {
							<span class="menu-right"><app-icon name="check"></app-icon></span>
						} @else {
							<span class="menu-right"></span>
						}
					</div>
				</button>
				<button
					mat-menu-item
					(click)="setIsMarkdown($event, true)"
					aria-label="View as Markdown"
					[attr.role]="'menuitemradio'"
					[attr.aria-checked]="todo.isMarkdown"
				>
					<div class="menu-row">
						<span class="menu-left"></span>
						<span class="menu-label">Markdown</span>
						@if (todo.isMarkdown) {
							<span class="menu-right"><app-icon name="check"></app-icon></span>
						} @else {
							<span class="menu-right"></span>
						}
					</div>
				</button>
			</fieldset>
			<mat-divider></mat-divider>
			<button mat-menu-item class="danger" (click)="onDelete(todo)" aria-label="Delete item">
				<div class="menu-row">
					<span class="menu-left"><app-icon name="trash"></app-icon></span>
					<span class="menu-label">Delete</span>
					<span class="menu-right"></span>
				</div>
			</button>
		</mat-menu>
	</div>
</div>
