<div
	class="todo-container"
	[ngClass]="{
		'dragging': dragging,
		'note': todo.isNote,
		'edit-mode': isEditable,
		'menu-open': isActionMenuOpen,
	}"
>
	<!-- Button dragger -->
	<div class="icon-button-container drag-handle-container">
		<vscode-button
			appearance="icon"
			class="icon-button drag-handle"
			cdkDragHandle
			aria-label="Drag to reorder todo item"
			title="Drag to reorder"
		>
			<span>
				<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M15 6H1V7H15V6ZM15 9H1V10H15V9Z"
						fill="#C5C5C5"
					/>
				</svg>
			</span>
		</vscode-button>
	</div>
	<div class="checkbox" *ngIf="!todo.isNote">
		<vscode-checkbox (click)="toggleCompleted()" [checked]="todo.completed"></vscode-checkbox>
	</div>
	<div class="content">
		<autosize-text-area
			*ngIf="isEditable"
			id="text-area-{{ todo.id }}"
			class="todo-text"
			[(value)]="todo.text"
			[autofocus]="true"
		>
		</autosize-text-area>
		<!-- prettier-ignore -->
		<div
			(click)="edit()"
			*ngIf="!isEditable && !todo.isMarkdown"
			class="todo-text"
			[class.complete]="todo.completed && !todo.isNote"
		>{{ todo.text }}</div>
		<div *ngIf="!isEditable && todo.isMarkdown" class="markdown-container" (click)="edit($event)">
			<markdown
				clipboard
				class="todo-text"
				lineNumbers
				[class.complete]="todo.completed && !todo.isNote"
				[data]="todo.text"
			></markdown>
		</div>
		<div class="footer" *ngIf="isEditable">
			<div class="labels">
				<todo-label [todo]="todo"></todo-label>
			</div>
			<div class="buttons">
				<vscode-button (click)="saveEdit()" [disabled]="!todo.text.trim().length" aria-label="Save"
					>Save</vscode-button
				>
				<vscode-button
					appearance="secondary"
					(click)="cancelEdit()"
					aria-label="Cancel"
					id="cancel-button"
					>Cancel</vscode-button
				>
			</div>
		</div>
	</div>
	<div class="icon-button-container">
		<vscode-button
			appearance="icon"
			class="icon-button"
			[matMenuTriggerFor]="actionMenu"
			(menuOpened)="onActionMenuOpened()"
			(menuClosed)="onActionMenuClosed()"
			[ngClass]="{ 'menu-open': isActionMenuOpen }"
			aria-label="Open menu"
			title="Menu"
		>
			<span>
				<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
					<path
						d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm5 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm5 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
						fill="#C5C5C5"
					/>
				</svg>
			</span>
		</vscode-button>

		<!-- Action menu -->
		<mat-menu #actionMenu="matMenu" yPosition="below" xPosition="before">
			<fieldset>
				<legend>Item Type</legend>
				<button
					mat-menu-item
					[class.selected]="todo.isNote"
					(click)="setIsNote($event, true)"
					aria-label="Select Note"
				>
					Note
				</button>
				<button
					mat-menu-item
					[class.selected]="!todo.isNote"
					(click)="setIsNote($event, false)"
					aria-label="Select Todo"
				>
					Todo
				</button>
			</fieldset>
			<fieldset>
				<legend>View Mode</legend>
				<button
					mat-menu-item
					[class.selected]="!todo.isMarkdown"
					(click)="setIsMarkdown($event, false)"
					aria-label="View as text"
				>
					Text
				</button>
				<button
					mat-menu-item
					[class.selected]="todo.isMarkdown"
					(click)="setIsMarkdown($event, true)"
					aria-label="View as Markdown"
				>
					Markdown
				</button>
			</fieldset>
			<button mat-menu-item class="danger" (click)="onDelete(todo)" aria-label="Delete item">
				Delete
			</button>
		</mat-menu>
	</div>
</div>
