.todo-container {
	display: grid;
	grid-template-columns: 40px 40px calc(100% - 120px) 40px;
	padding: 0.5rem 0.75rem;
	background-color: inherit;

	& > * {
		display: flex;
		justify-content: center;
		justify-items: center;
		align-items: flex-start;
	}

	&.menu-open {
		background-color: var(--vscode-menu-background);

		.icon-button-container {
			opacity: 1;
		}
	}

	&.note {
		grid-template-columns: 40px calc(100% - 80px) 40px;
		background-color: var(--note-background-color);
		border-left: 4px solid var(--note-accent-color);
		padding: 0.5rem 0.75rem 0.5rem calc(0.75rem - 4px);
	}

	&.edit-mode {
		background-color: var(--vscode-menu-background);
	}

	.icon-button-container {
		opacity: 0;
	}

	vscode-checkbox {
		padding: 2px;
	}

	.icon-button {
		margin: calc(var(--design-unit) * 1px) 0;

		&.menu-open {
			background: var(--button-icon-hover-background);
		}
	}

	.content {
		justify-content: center;
		flex-direction: column;
		width: 100%;
		padding: 0 0.5rem;

		div.todo-text {
			font-size: var(--vscode-editor-font-size);
			margin: 0;
			padding: 3.75px 0;
			white-space: pre-wrap;
			word-wrap: break-word;
			width: 100%;
			cursor: pointer;
		}

		div.markdown-container {
			display: flex;
			width: 100%;
			cursor: pointer;
		}

		markdown.todo-text {
			font-size: var(--vscode-editor-font-size);
		}

		.todo-text.complete {
			text-decoration: line-through;
			color: var(--input-placeholder-foreground);
		}

		autosize-text-area {
			display: flex;
			width: 100%;
			margin: calc(var(--design-unit) * 1px) 0;
			padding: 2px 0;
		}

		.footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin: 0.25rem 0;

			.buttons {
				display: flex;
				flex: 1 1 auto;
				justify-content: flex-end;
			}

			vscode-button {
				margin-left: 1rem;
				flex: 1 1 auto;
			}
			.labels {
				display: block;
			}
		}
	}
}
