<div class="file-list-container">
  @for (file of fileEntries(); track file.filePath) {
    <div
      (click)="setCurrentFile(file.filePath)"
      class="file-list-item"
      [class.active]="file.isActive"
      [attr.title]="file.tooltip"
      aria-label="Show records for this file"
      >
      <div class="file-name">{{ file.filePath | fileName }}</div>
      <vscode-badge [ngStyle]="{ display: file.todoNumber ? 'inline-block' : 'none' }">{{
        file.todoNumber
      }}</vscode-badge>
    </div>
  }
</div>
