.todo-container {
	display: grid;
	grid-template-columns: 40px 30px calc(100% - 70px);
	padding: 0.5rem 1rem;

	& > .drag-handle-container {
		opacity: 0;
		display: flex;
		align-items: center;
	}

	.content {
		width: 100%;
		padding: 0;

		.body {
			padding-bottom: 0.25rem;
			p.todo-text {
				font-size: var(--vscode-editor-font-size);
				margin: 0;
				padding: 0;
				white-space: pre-wrap;
				word-wrap: break-word;
			}
			p.todo-text.complete {
				text-decoration: line-through;
			}
			text-area {
				width: 100%;
			}
		}

		.footer {
			display: flex;
			justify-content: space-between;
			gap: 0.8rem;
			padding-top: 0.25rem;

			vscode-button {
				margin-right: 1rem;
			}
			.labels {
				display: block;
			}
		}
	}
}

// Styles when dragging starts
.cdk-drop-list.cdk-drop-list-dragging {
	.cdk-drag {
		/* Animate items as they're being sorted. */
		transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	}
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
	transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
	> * {
		opacity: 0;
	}
	border: 1px solid var(--vscode-list-hoverBackground);
}

.cdk-drop-list:not(.cdk-drop-list-dragging) {
	.todo-container {
		&:hover {
			background-color: var(--vscode-menu-background);

			& > .drag-handle-container {
				opacity: 1;
			}
		}
	}
}

.todo-container.cdk-drag.cdk-drag-preview > .drag-handle-container {
	opacity: 1;
}
