<div
  cdkDropList
  (cdkDropListDropped)="onDrop($event)"
  [cdkDropListSortPredicate]="sortPredicate"
  [cdkDropListAutoScrollStep]="8"
  >
  @for (todo of todos; track trackById($index, todo)) {
    <div
      [@leaveAnimation]
      [@.disabled]="!isLeaveAnimationEnabled"
      #dragItem
      [attr.data-id]="todo.id"
      cdkDrag
      [cdkDragData]="todo"
      (cdkDragStarted)="dragStarted()"
      (cdkDragEnded)="dragEnded()"
      >
      <div [@enterAnimation] [@.disabled]="!isEnterAnimationEnabled">
        <todo-item
          [todo]="todo"
          [scope]="scope"
          (delete)="handleDelete($event)"
          [ngClass]="{ note: todo.isNote }"
          >
        </todo-item>
      </div>
    </div>
  }
</div>
