.todo-container {
	display: grid;
	grid-template-columns: 40px 40px calc(100% - 160px) 40px 40px;
	padding: 0.5rem 0.75rem;

	& > * {
		display: flex;
		justify-content: center;
		justify-items: center;
		align-items: flex-start;
	}

	.button {
		display: flex;
		opacity: 0;
		cursor: pointer;
		justify-self: flex-end;
		background: none;
		border: none;

		&[disabled] {
			cursor: not-allowed;
		}
	}

	.content {
		justify-content: flex-start;
		flex-direction: column;
		width: 100%;
		padding: 0 0.5rem;

		.body {
			width: 100%;
			p.todo-text {
				font-size: var(--vscode-editor-font-size);
				margin: 0;
				padding: 0;
				white-space: pre-wrap;
				word-wrap: break-word;
			}
			p.todo-text.complete {
				text-decoration: line-through;
			}
			text-area {
				width: 100%;
			}
		}

		.footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-top: .5rem;

			.buttons {
				display: flex;
				flex: 1 1 auto;
				justify-content: flex-end;
			}

			vscode-button {
				margin-left: 1rem;
				flex: 1 1 auto;
			}
			.labels {
				display: block;
			}
		}
	}
}

// Styles when dragging starts
.cdk-drop-list.cdk-drop-list-dragging {
	.cdk-drag {
		/* Animate items as they're being sorted. */
		transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	}
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
	transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
	> * {
		opacity: 0;
	}
	border: 1px solid var(--vscode-list-hoverBackground);
}

.cdk-drop-list:not(.cdk-drop-list-dragging) {
	.todo-container {
		&:hover {
			background-color: var(--vscode-menu-background);

			& .button {
				opacity: 0.5;
			}
			& .button:hover:not([disabled]) {
				opacity: 1;
			}
		}
	}
}

.todo-container.cdk-drag.cdk-drag-preview .drag-handle {
	opacity: 1;
}
